<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
  <h1>Welcome!</h1>
  <h2>My Favorite Food</h2>
  <p><%= favoriteFood %></p>
  <h2>Cooking Experience</h2>
  <p><%= experience %></p>
  <a href="/recipes" class="back-link">See Recipe Listings</a>
</div>
</body>
</html>